*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    display: flex;
    flex-flow: column;
}

textarea{
    margin-bottom: 5rem;
    max-width: 600px;
    font-size:  2rem;
    max-height: 200px;
}